@using ShoppingLibrary.Models
@{
    ViewData["Title"] = "View Order Details";
    Order order = (Order)ViewData["OrderData"];
    var cartItems = (ICollection<OrderShoppingCartItem>)ViewData["OrderCartData"];
}

<h4>Order Details for Order # @order.ID</h4>

<table width="600">
    <tr>
        <td width="175">Customer Name:</td>
        <td>@order.Customer.Name</td>
    </tr>
    <tr>
        <td width="175">Email Address:</td>
        <td>@order.Customer.Email</td>
    </tr>
</table>

<h5 class="mt-4">Shopping Cart</h5>

<table width="600" border="1" cellpadding="4" cellspacing="4">
    <tr>
        <td width="400">Product Name</td>
        <td width="100">Quantity</td>
        <td width="100">Total Cost</td>
    </tr>
    @foreach (var cart in cartItems)
    {
        <tr>
            <td>@cart.Product.Name</td>
            <td>@cart.Quantity</td>
            <td>@((cart.Quantity * cart.Product.Price).ToString("C2"))</td>
        </tr>
    }
    <tr>
        <td>&nbsp;</td>
        <td>Order Total: </td>
        <td>@order.OrderTotal.ToString("C2")</td>
    </tr>
</table>
