@using ShoppingLibrary.Models
@{
    ViewData["Title"] = "View Order Details";
    Order order = (Order)ViewData["OrderData"];
    //Product product = (Product)ViewData["Product"];
}

Sold to: @order.Customer.Name<br />
Order Test: @order.OrderTotal

@*<div class="text-center">
    <h1 class="display-4">@product.Name</h1>
</div>

<div class="w-100">
    <div class="row">
        <div class="col-md-4">
            <img src="@product.Image" alt="@product.Name" width="200" />
        </div>
        <div class="col-md-8" style="margin-top: 50px">
            <p>@product.Description</p>
            <p>Price: $@product.Price</p>
        </div>
    </div>
</div>
*@